{% extends "_template_pages/base.html" %}
{# È necessario impostare altezza 100% per body e html per centrare il form #}
{% block body_class %}flex flex-column height-100 centered-page-bg{% endblock %}
{% block html_class %}height-100{% endblock %}
{% block main_class %}flex flex-column height-100 align-items-center justify-content-center{% endblock %}
{% block content %}
        <p id="home-logo-text">sulFoXide</p>
        <p id="home-slogan" class="mb-4">Tre giorni, tre generi, un solo ritmo: il tuo festival perfetto</p>
        <p class="text-center">
            <span class="bold">Venerdì</span> - Giornata pop <br>
            <span class="bold">Sabato</span> - Giornata metal <br>
            <span class="bold">Domenica</span> - Giornata rock
        </p>
        <a href="{{ url_for("performances_list_page") }}" class="btn btn-outline-primary mb-2 width-16em blur-backdrop">Visualizza le performance</a>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for("login_page") }}" class="btn btn-outline-success mb-2 width-16em blur-backdrop">Accedi</a>
            <a href="{{ url_for("registration_page") }}" class="btn btn-outline-danger width-16em blur-backdrop">Registrati</a>
        {% endif %}
{% endblock %}
